@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,700&display=swap');

body{
  background-color:black;
  text-align: center;
}

h1{
  color:white;
  font-family: 'Roboto', sans-serif;
	font-size: 80px;
	line-height: 0.5em;
}

h2{
	color:white;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}

p{
  color:white;
  font-family: 'Roboto', sans-serif;
}

.lyrics{
	font-size:18px;
	line-height: 25px;
	color:#ffff00;
}

.citation{
	font-size:18px;
	color:#a133db;
}

.upperleftlogo{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2rem;
    
}

.favicon{
  transition: 0.5s all ease-out;
}

.favicon:hover{ 
  cursor: pointer;
  transform:scale(1.1);
}

.mainlogo{
  transition: 0.5s all ease-out;
}

.mainlogo:hover{
  transform: translateY(-0.5rem);
  cursor: pointer;
	transform:scale(1.05);
}

.explore{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #ffff00;
  border-radius: 20px;
  color: black;
  font-size: 1.5rem;
  width: 175px;
  padding: 1rem;
  transition: 0.5s all ease-out;
 
}

.explore:hover {
  transform: translateY(-0.5rem);
  background-color: #a133db;
  cursor: pointer;
  transform: scale(1.1);
} 

.about{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #ffff00;
  border-radius: 20px;
  color: black;
  font-size: 1.5rem;
  width: 175px;
  padding: 1rem;
  transition: 0.5s all ease-out;
}

.about:hover {
  transform: translateY(-0.5rem);
  background-color: #a133db;
  cursor: pointer;
  transform: scale(1.1);
} 

.previous{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #ffff00;
  border-radius: 20px;
  color: black;
  font-size: 1.5rem;
  width: 175px;
  padding: 1rem;
  transition: 0.5s all ease-out;
}

.previous:hover{
  transform: translateY(-0.5rem);
  background-color: #a133db;
  cursor: pointer;
  transform: scale(1.1);
} 

.next{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #ffff00;
  border-radius: 20px;
  color: black;
  font-size: 1.5rem;
  width: 175px;
  padding: 1rem;
  transition: 0.5s all ease-out;
}

.next:hover{
  transform: translateY(-0.5rem);
  background-color: #a133db;
  cursor: pointer;
  transform: scale(1.1);
} 

.row{
  display:flex;
  justify-content: space-around;

}

.home{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: #ffff00;
  border-radius: 20px;
  color: black;
  font-size: 1.5rem;
  width: 175px;
  padding: 1rem;
  transition: 0.5s all ease-out;
}

.home:hover {
  transform: translateY(-0.5rem);
  background-color: #a133db;
  cursor: pointer;
  transform: scale(1.1);
} 

.explorepageimage{
  transition: 0.5s all ease-out;
  margin: 1rem;
}

.explorepageimage:hover{ 
  cursor: pointer;
	transform:scale(1.1);
}

.explorepagecolumn{
  display:flex;
  flex-direction: column;
}

.rowArtist{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	margin:-5px;
}

.albumartrow{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}